
:root {
  --card-height: 300px;
  --card-width: 200px
}
* {
  box-sizing: border-box;
}


#Deals{
  text-align: center;
  color: white;
}

#div-All-deals{
width: 100%;
padding: 15px; 
background-image: url('https://img.freepik.com/free-photo/3d-grunge-room-interior-with-spotlight-smoky-atmosphere-background_1048-11333.jpg?w=996&t=st=1685292678~exp=1685293278~hmac=af5d88d2d40723804e0c3b97ad379b10970b74339bb7448f51717ff4e1c6903a');
; 
background-size: 100% 100%;
background-repeat: no-repeat; /* Do not repeat the image */
}
.div-card{
display: flex;
flex-wrap: wrap;
justify-content: center;

}
.card {
  width: 300px;
  display: flex;
  perspective: 2500px;
  margin: 20px;
  padding: 0px;
    background: linear-gradient( rgb(16, 17, 24),rgb(213, 211, 211),rgb(194, 191, 191) )

}

#news:hover{
color: rgb(214, 213, 212);
}



.wrapper {
  transition: all 0.5s;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform:   translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    /* rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97% */
  );
}

/* .card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
} */
.title {
  width: 100%;
  transition: transform 0.5s;
  color: white;
}
.card:hover .title {
  transform: translate3d(0px, 10px, 50px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

.nft{
  user-select:none;
  max-width: 300px;
  margin: 5rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
  .hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  .ins{
    text-decoration: none;
  }
  .main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    .tokenImage{
      border-radius: .5rem;
      max-width: 100%;
      height: 250px;
      object-fit: cover;
    }
    .description{
      margin: .5rem 0;
      color: #a89ec9;
    }
    .tokenInfo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price{
        display: flex;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;
        .ins{
          margin-left: -.3rem;
          margin-right: .5rem;
        }
      }
      .duration{
        display: flex;
        align-items: center;
        color: #a89ec9;
        margin-right: .2rem;
        .ins{
          margin: .5rem;
          margin-bottom: .4rem;
        }
      }
    }
    .creator{
      display: flex;
      align-items: center;
      margin-top: .2rem;
      margin-bottom: -.3rem;
      .ins{
        color: #a89ec9;
        text-decoration: none;
      }
      .wrapper{
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: .3rem;
        margin: 0;
        margin-right: .5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;

        .img{
          border-radius: 100%;
          border: 1px solid #ffffff22;
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
  ::before{
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: .7s all;
  }
  &:hover{
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before{
      filter: brightness(.5);
      top: -100%;
      left: 200%;
    }
  }
}

.bg{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .h1{
    font-size: 20rem;
    filter: opacity(0.5);
    color: b ;
  }
}
a.hero-image-container {
  position: relative;
  display: block;
}

img.eye {
  position: absolute;
  width: 100%;
  max-width: 2em;
  top: 44%;
  left: 43%;
}

@media (min-width:400px) {
img.eye {
  max-width: 3em;
}
}


.hero-image-container:hover::after {
opacity: 1;
}

.small-image {
  width: 1.2em;
  margin-right: .5em;
}
.small-avatar {
  width: 2em;
  border-radius: 200px;
  outline: 2px solid white;
  margin-right: 1.4em;
}
img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

a {
  color: inherit;
}
.cardGrid {
 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
  margin:5px;
  padding: auto;
}


