
:root {
  --card-height: 300px;
  --card-width: 200px
}
* {
  box-sizing: border-box;
}


#Deals{
  color: rgb(234, 234, 234);
  width: 100%;
  margin-left: 30px;

}

#div-All-deals{
width: 100%;
padding: 70px; 

background-color:rgb(18, 18, 18) 
; 
background-size: 100% 100%;
background-repeat: no-repeat; /* Do not repeat the image */
}
.div-card{
display: flex;
flex-wrap: wrap;

}
.card {
  width: 250px;
  height: 1000px;
  display: flex;
  perspective: 2500px;
  margin: 20px;
    padding-left: 20px;

    background: linear-gradient( rgb(16, 17, 24), #9A9A9A )

}

#news:hover{
color: rgb(214, 213, 212);
}



.wrapper {
  transition: all 0.5s;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform:   translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    /* rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97% */
  );
}

/* .card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
} */
.title {
  width: 100%;
  transition: transform 0.5s;
  color: white;
}
.card:hover .title {
  transform: translate3d(0px, 10px, 50px);
}



img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

a {
  color: inherit;
}
.cardGrid {
 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
  margin:5px;
  padding: auto;
}


.category{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-left:20px ;

}
.btn-category{
  margin: 12px;
  border-radius: 5%;

}